<%- include('layouts/header') %>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="fileUpload" />
    <input type="submit" value="Upload" />
  </form>
  
  <div class="container">
  <div class="row">

    </div>
  </div>
<%- include('layouts/footer') %>