<%- include('layouts/header') %>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="fileUpload" />
    <input type="submit" value="Upload" />
  </form>

  <% files.forEach(element => { %>
    <p>files: <%= element %></p>
  <% }); %>
<%- include('layouts/footer') %>