<%- include('layouts/header') %>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="fileUpload" />
    <input type="submit" value="Upload" />
  </form>
  
  <div class="container">
  <div class="row">
    <% files.forEach(element => { %>
      <div class="col">
        <a href=""><%= element.id %></a>
      </div>
      <% }); %>

    </div>
  </div>
<%- include('layouts/footer') %>